.wishlist{

    &__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #1C1C27
    }

    &-empty {
        margin-top: 1rem;
        font-size: 30px;
        font-weight: 600;
        text-align: center;
    }
}