@import '../../mixin.scss';

.terms {
    margin-top: 50px;
}

.term {
    @include main-card;
    padding: 15px 30px;
    margin-bottom: 30px;

    &__title {
        font-weight: 600;
        font-size: 17px;
        line-height: 21px;
        color: #1C1C27;
    }

    &__content {
        padding: 15px;
        text-align: justify;
        font-weight: 400;
        font-size: 17px;
        line-height: 21px;
        color: #000000;
    }
}