.cart-empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 540px;
    padding: 0 1rem;
    margin: 60px auto;
    text-align: center;

    img {
        margin-bottom: 30px;
        max-width: 100%;
    }

    button {
        width: 100%;
    }

    a {
        width: 100%;
        color: white;

        @media screen and (max-width:600px){
            width: 80%;
        }
    }
}

.cart__title--empty {
    margin: 10px 0;
    font-weight: 500;
    font-size: 30px;
    line-height: 37px;
    color: #101010;
}

.cart__text--empty {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #838383;
    margin-bottom: 30px;
}