.header {
    flex-shrink: 1;
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    color: white;
    font-size: 18px;
    font-weight: 600;

    ul {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        gap:0 2rem;

        li {
            position: relative;

            a {
                color:black;
                text-decoration: none;
            }

            .count-label {
                position: absolute;
                top:-8px;
                right: -8px;
                display: block;
                padding: 2px;
                width: 17px;
                height: 17px;
                border-radius: 50%;
                background: #FFA542;
                font-weight: 500;
                font-size: 15px;
                line-height: 18px;
                text-align: center;
                color: #FFFFFF;
            }
        }
    }
}

/* Position and sizing of burger button */

.bm-burger-button {
    display: none;
    width: 30px;
    height: 30px;

    @media screen and (max-width:800px){
        display: block;
    }
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background:rgb(131, 131, 131);
  }
  
  /* Color/shape of burger icon bars on hover*/
  .bm-burger-bars-hover {
    background: #a90000;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
  */
  .bm-menu-wrap {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #201a27;
    padding: 2.5em 1.5em 0;
    font-size: 17px;
    overflow: hidden !important;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #b8b7ad;
    padding: 0.8em;



    nav, div {

      ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        li {
          padding: 0.5rem 0;

          a {
            color: #f0cc69;
          }
        }
      }

    }
  }
  
  /* Individual item */
  .bm-item {
    display: inline-block;
    color: #b8b7ad;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.3);
  }